.jumbotron{
	background-color: #80CBC4;
}
.row{
	width:900px; 
	margin-left: auto;
	margin-right: auto;
}
#d1{
	border-radius: 55px;
}
body{
	background: #ceffe1;
	padding-top: 15px;

}

.H3{
    text-align: center;

}

.H1{
    font-size: 4rem;
    font-weight: bold;
}

#button{
    
  align-items: center;
  justify-content: center;
  display: grid;
}

.btn-primary{
	color: #fff;
    background-color: #00796B;
    border-color: #2e6da4;
}
