.row{
	width:900px; 
	margin:0 auto;
}
#d1{
	border-radius: 55px;
}
body{
	background: #ceffe1;
	padding-top: 150px;
}

.H3{
    text-align: center;

}

.H1{
    font-size: 4rem;
    font-weight: bold;
}

#button{
    
  align-items: center;
  justify-content: center;
    display: grid;
}
