
<html>
    <head>
        <title>wasteMonitoring</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">

    </head>

    <body>




        <div class="container">


<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{url_for('index')}}">Home</a></li>
              <li><a href="{{url_for('stats')}}">Stats</a></li>
            </ul>
  
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>




            <div class="jumbotron">

                <h1><img src="https://cdn1.iconfinder.com/data/icons/office-222/91/General_Office_24-512.png" width="70" height="55"> Waste Monitoring</h1> 
                <p>Current Scenario for bins</p> 

            </div>
            

            <div class="row">

                <div class="bins">

                    <div  class="col-lg-4 col-md-6">
                     
                        <div id="d1" class="thumbnail c">
                            <h3 class="H3">Capacity</h3>
                            <strong><h1 class="H3 H1"><span id="db1">100</span>%</h1></strong>
                            <img src="{{ url_for('static',filename='assets/bints.png') }}">
                        </div>
     
                    </div>

                    <div class="col-lg-4 col-md-6">
                       
                        <div id="d1" class="thumbnail c">
                            <h3 class="H3">Capacity</h3>
                            <strong><h1 class="H3 H1"><span id="db2">100</span>%</h1></strong>
                            <img src="{{ url_for('static',filename='assets/bints.png') }}">
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6">
                     
                        <div id="d1" class="thumbnail c">
                            <h3 class="H3">Capacity</h3>
                            <strong><h1 class="H3 H1"><span id="db3">100</span>%</h1></strong>
                            <img src="{{ url_for('static',filename='assets/bints.png') }}">
                        </div>
                    </div>

                </div>
            </div>


        </div>

       


        <script type="text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
          <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>

    </body>
</html>
